@charset "utf-8";

/* =============================================================================
 * Variables
 * ---------------------------------------------------------------------------*/
:root {
  --color-body: rgb(36,23,20);
  --color-primary: rgb(250, 187, 0);
  --color-secondary: rgb(151,191,13);

  --color-content-bg: rgb(250, 245, 240);
  --color-masthead-bg: rgb(255, 255, 255);

  --color-link: rgb(0, 158, 224);
  --color-link--visited: rgb(191,13,76);

  /**
   * Typography
   */
  --font-family-copy: 'Source Code Pro', monospace;
  --font-family-display: 'Source Code Pro', monospace;

  /* Augmented fourth scale */
  --font-size-xx-lg: 3.398rem;
  --font-size-x-lg: 2.827rem;
  --font-size-lg: 1.999rem;
  --font-size-md: 1.414rem;
  --font-size-sm: .707rem;
  --font-size-x-sm: .5rem;
  --font-size-xx-sm: .354rem;

  --max-site-width: 37.5rem;
  --container-padding: 1rem;

  --logo-actual-width: 250px;
  --logo-actual-height: 250px;

  --logo-width-sm: 15rem;
  --logo-height-sm: var(--logo-width-sm);
  --logo-width-lg: 25rem;
  --logo-height-lg: var(--logo-width-lg);
  --logo-shadow: 0 0 .625rem rgba(0, 0, 0, .5);

  --logo-bg-width: calc(var(--logo-width-lg) * 2);
  --logo-bg-height: calc(var(--logo-height-lg) * 2);

  --scroll-arrow-width: 1rem;
  --scroll-arrow-height: var(--scroll-arrow-width);
}


/* =============================================================================
 * Keyframes
 * ---------------------------------------------------------------------------*/
@keyframes blink-fade {
  0% { opacity: 1; }
  50% { opacity: .25; }
  100% { opacity: 1; }
}

@keyframes scroll-background {
  to {
    background-position: 0 var(--logo-actual-height);
  }
}


/* =============================================================================
 * General
 * ---------------------------------------------------------------------------*/
html {
  font-size: 14px;
  min-width: 320px;
}

body {
  font-family: var(--font-family-copy);
  font-weight: 300;
  color: var(--color-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display);
  font-weight: 600;
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

strong {
  font-weight: 400;
}

a {
  color: var(--color-link);
  display: inline-block;
  text-decoration: none;
}

a::after {
  content: '';
  display: block;
  position: relative;
  width: 0;
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  transition: width 150ms ease-in;
}

a:hover::after {
  width: 100%;
  background-color: var(--color-link);
}

a:visited {
  color: var(--color-link--visited);
}

a:visited::after {
  background-color: var(--color-link--visited);
}

.grabbable {
  cursor: grab;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}


/* =============================================================================
 * Masthead
 * ---------------------------------------------------------------------------*/
.masthead {
  background: var(--color-masthead-bg);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  min-height: 320px;
}

.site-title {
  font-size: var(--font-size-x-lg);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.site-subtitle {
  color: var(--color-primary);
  font-size: var(--font-size-md);
  font-family: var(--font-family-display);
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-height: 480px) {
  .logo__container {
    display: inline-block;
    position: relative;
    width: calc(100vw - (var(--container-padding) * 2));
    height: calc(100vw - (var(--container-padding) * 2));
    max-width: var(--logo-width-sm);
    max-height: var(--logo-height-sm);
    overflow: hidden;
  }

  .logo__background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: var(--logo-bg-width);
    height: var(--logo-bg-height);
    background-color: var(--color-secondary);
    background-image: url(../../img/logo-background.svg);
    animation: scroll-background 10s linear infinite;
    transform: rotate(45deg);
  }

  .logo__mask {
    pointer-events: none;
    width: var(--logo-width-sm);
    height: var(--logo-height-sm);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translateZ(0);
    fill: var(--color-masthead-bg);
    filter: drop-shadow(var(--logo-shadow));
    box-shadow: inset var(--logo-shadow);
  }

  .site-title {
    margin-top: 1em;
  }
}

@media screen and (min-width: 600px) and (min-height: 768px) {
  .logo__container {
    max-width: var(--logo-width-lg);
    max-height: var(--logo-height-lg);
  }

  .logo__mask {
    width: var(--logo-width-lg);
    height: var(--logo-height-lg);
  }

  .site-title {
    font-size: var(--font-size-xx-lg);
  }
}


/* =============================================================================
 * Main Content Sections
 * ---------------------------------------------------------------------------*/
.content {
  border-top: 2px solid var(--color-secondary);
  position: relative;
  background: var(--color-content-bg);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.content section,
.content footer {
  max-width: var(--max-site-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

.section-title {
  margin-top: 2rem;
}


/* =============================================================================
 * Projects
 * ---------------------------------------------------------------------------*/
.project-title {
  font-family: var(--font-family-display);
  font-weight: 400;
  margin-top: 1.25rem;
}

.project-description {
  margin-left: 0;
  margin-top: .25rem;
}


/* =============================================================================
 * Page Footer
 * ---------------------------------------------------------------------------*/
.page-footer {
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  .page-footer {
    font-size: var(--font-size-sm);
  }
}


/* =============================================================================
 * Legal Information
 * ---------------------------------------------------------------------------*/
.legal {
  list-style: none;
  padding-left: 0;
}

.legal::after {
  content: '';
  display: table;
  clear: both;
}

.legal__item:not(:last-child) {
  margin-bottom: .5rem;
}

@media screen and (min-width: 600px) {
  .legal__item {
    display: inline-block;
    float: left;
  }

  .legal__item:not(:last-child)::after {
    content: '/'; /* interpunct */
    margin-left: 0;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

/* =============================================================================
 * Scroll Arrows
 * ---------------------------------------------------------------------------*/
.scroll-arrow {
  display: block;
  width: var(--scroll-arrow-width);
  height: var(--scroll-arrow-height);
  border-top: 2px solid var(--color-link);
  border-right: 2px solid var(--color-link);
  animation: blink-fade 2s infinite;
}

.scroll-arrow::after {
  display: none !important;
}

.scroll-arrow:hover {
  animation: none;
}

.scroll-arrow--down {
  transform: rotate(135deg);
}

.content .scroll-arrow--down {
  display: block;
  position: absolute;
  top: calc(var(--scroll-arrow-height) * -3);
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
}


/* =============================================================================
 * JavaScript Classes
 * ---------------------------------------------------------------------------*/
.js-grabbing,
.js-grabbing .grabbable {
  cursor: grabbing !important;
}
